@import "~bootstrap";
body {
  .container-fluid {
    @include media-breakpoint-up(lg) {
      #app {
        .row {
          &.home {
            font-size: 7vw;
          }
        }
      }
    }

    font-size: 10vw;

    #app {
      &.full {
        height: 100vh;
      }

      span {
        &.back {
          position: absolute;
          top: -7vw;
          left: 16px;
          z-index: 1;
        }
      }

      .MathJax {
        &:focus {
          outline: none;
        }
      }

      .numeric-keypad {
        position: fixed;
        bottom: 13px;
        font-size: 3vh;
        width: 100%;

        .numeric-keypad-key {
          width: auto;
          padding: 5px;

          button {
            width: 100%;
            height: 100%;
            border: none;

            &.disabled {
              background: #b1b1b1;
            }

            &:focus {
              outline: none;
            }

            img {
              width: 9vw;
              max-width: 61px;
            }
          }
        }
      }

      .history {
        width: 4vh;
        position: absolute;
        top: 21px;
        right: 14px;
      }

      .history-back {
        position: absolute;
        width: 4vw;
        top: 7px;
        right: 10px;
      }

      .history-list {
        .col-3 {
          font-size: 3vw;
        }
      }
    }
  }
}
